<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <div th:if="${userProfile} != null">
            <h2 th:text="'ID: ' + ${userProfile.username}"></h2>
            <h3 th:text="'ROLE: ' + ${userProfile.role}"></h3>
            <br>
            <div>
                <form action="/user/changeIsFriend" method="post">
                    <label>Friend Only:</label>
                    <input type="checkbox" name="isFriendOnly" value="true" th:checked="${isFriendOnly}"/>
                    <button type="submit">친구 공개 범위 수정</button>
                </form>
            </div>
            <div th:if="${userProfile.getUsername().equals(loginUser)}">
                <a href="/user/update">수정하기</a>
            </div>

            <div th:if="${userProfile.posts} != null">
                <div th:each="post : ${userProfile.posts}">
                    <strong><h4 th:text="${post.title}"></h4></strong>
                    <h5 th:text="${post.content}"></h5>
                    <br>
                </div>
            </div>
        </div>
    </body>
</html>
