<html xmlns:th="http://www.thymeleaf.org">

    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}" style="color:red"></p>
    </div>

    <div th:if="${#lists.isEmpty(receiveList)}">
        <strong>받은 요청이 없습니다.</strong>
    </div>

    <div th:if="${!#lists.isEmpty(receiveList)}">
        <div th:each="receive : ${receiveList}">
            <div th:if="${receive.status.equals('REQUEST')}">
                <form action="/friendship" method="post">
                    <input type="hidden" name="requestUsername" th:value="${receive.username}" th:text="${receive.username}"/>
                    <button type="submit" name="action" value="accept">요청 수락</button>
                    <button type="submit" name="action" value="reject">요청 거부</button>
                </form>
            </div>
        </div>
    </div>
</html>