<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<div class="container">
    <div th:object="${post}" class="post-card">
        <h4 th:text="*{title}">제목</h4>
        <a th:if="*{member.username} == ${username}" th:href="@{/post/update/{id}(id=*{id})}">수정</a>
        <p th:text="*{createdDate}">작성일</p>
        <p th:text="*{member.username}">작성자</p>
        <p th:text="*{content}">내용</p>
    </div>

    <form th:action="@{/comment/create}" method="post">
        <input type="hidden" name="postId" th:value="*{id}"/>
        <input type="text" name="content" placeholder="댓글을 입력하세요" required>
        <button type="submit">댓글 달기</button>
    </form>

    <div class="comment-section">
        <h4>댓글</h4>
        <div th:each="comment : ${comments}">
            <p><strong th:text="${comment.getUsername()}">작성자</strong>: <span th:text="${comment.getContent()}">내용</span></p>
        </div>
    </div>
</div>
</html>