<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>업데이트</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<form th:object="${post}" method="post" action="/post/update">
    <input type="hidden" name="id" th:field="*{id}" />
    <div class="container">
        <div class="post-card">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" th:field="*{title}" /><br>
            <div th:each="image : ${post.getImageList()}">
                <img th:src="@{${image.url}}" style="max-width: 200px;">
            </div>
            <input type="file" name="files" multiple accept="image/*">
            <label for="content">내용</label>
            <textarea id="content" name="content" th:field="*{content}"></textarea><br>
            <button type="submit">수정하기</button>
        </div>
    </div>
</form>
</body>