<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
<div class="container">
    <div class="header">
        <h1>안녕하세요!</h1>
    </div>

    <div th:if="${username == null}" class="auth-section">
        <p><a href="/user/login">로그인</a></p>
        <p><a href="/user/register">회원가입</a></p>
    </div>

    <div th:if="${username != null}" class="user-section">
        <div class="welcome">
            <p th:text="'환영합니다, ' + ${username} + '님!'"></p>
            <a th:href="@{user/profile/{username}(username=${username})}">내 정보</a><br>
            <a href="user/find">사용자 찾기</a>
            <a href="friendship">친구 요청 목록</a>
            <a href="friendship/allFriends">친구 목록</a>
        </div>

        <div class="actions">
            <button class="post-button" onclick="location.href='/post/create'">글쓰기</button>
            <form action="/user/logout" method="post">
                <button type="submit" class="logout-button">로그아웃</button>
            </form>
        </div>

        <div th:each="post : ${posts}" class="post-card">
            <div th:if="${post.writer.equals(username) ||
                 (post.isFriend() && #arrays.contains(friendList, post.writer)) ||
                 !post.isFriend()}">

                <h4 style="color: red" th:text="${post.getTitle()}">제목</h4>
                <a th:if="${post.getWriter().equals(username)}" th:href="@{post/update/{id}(id=${post.id})}">수정</a>

                <p th:text="${post.getCreatedDate()}">작성일</p>
                <p th:text="${post.getWriter()}">작성자</p>
                <p th:text="${post.getContent()}">내용</p>
                <p th:text="'좋아요: ' + ${post.getLikeCnt()}">좋아요 수</p>

                <form th:action="@{/like/{id}(id=${post.id})}" method="post">
                    <button type="submit" th:text="${post.likeByLoginUser} ? '좋아요 취소' : '좋아요'"></button>
                </form>

                <!-- 이미지 출력 -->
                <div th:if="${!post.imageUrls.isEmpty()}" th:each="image : ${post.imageUrls}">
                    <img th:src="@{${image}}" alt="이미지" style="max-width: 300px; margin-bottom: 10px;">
                </div>

                <a th:href="@{post/detail/{id}(id=${post.id})}">자세히 보기</a>
            </div>
        </div>
        <div class="pagination">
            <a th:if="${currentPage > 0}" th:href="@{'/?page=' + ${currentPage - 1}}">Prev</a>
            <span th:text="${currentPage + 1} + ' / ' + ${totalPages}"></span>
            <a th:if="${currentPage + 1 < totalPages}" th:href="@{'/?page=' + ${currentPage + 1}}">Next</a>
        </div>
    </div>
</div>
</body>
</html>
